* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}
header{
   background: url("../images/bottom.jpg") no-repeat center bottom;
}
.top {
  width: 1263px;
  height: 280px;
  margin: 0 auto;
}

.we-center {
  width: 980px;
  height: 30px;
  margin: 0 auto;
}

.denglu, .zhuche {
  width: 50px;
  height: 30px;
  float: right;
  padding-left: 50px;
  line-height: 30px;
  font-weight: bold;
}

nav {
  width: 980px;
  height: 56px;
  margin: 0px auto;
}

nav ul {
  width: 980px;
  height: 56px;
  margin: 0px auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul:nth-child(1) {
  background-image: url("../images/daohang.jpg");
  display: -moz-box;
  display: -webkit-box;
}

nav ul:nth-child(1) li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

nav ul li {
  position: relative;
  text-align: center;
  height: 56px;
  line-height: 56px;
}

nav ul li ul {
  position: absolute;
  top: 56px;
  display: none;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 150px;
  height: 56px;
  background-image: url("../images/daohang2.jpg");
}

nav a {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #99df67;
}

article {
  width: 980px;
  height: 300px;
  margin: 0 auto;
}

.article-left {
  width: 580px;
  height: 300px;
  background-image: url("../images/article-left.jpg");
  float: left;
}

.article-right {
  width: 385px;
  height: 300px;
  background-image: url("../images/article-right.jpg");
  float: right;
}

.xishu {
  margin-left: 10px;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  background-image: url("../images/4.jpg");
  background-repeat: no-repeat;
}

.article-left ul {
  clear: both;
  width: 580px;
  height: 300px;
  list-style: none;
}

.article-left li {
  float: left;
  padding-left: 70px;
}

.article-left li p {
  text-align: center;
}

.article-right ul {
  width: 360px;
  height: 230px;
}

.article-right li {
  margin-top: 9px;
  margin-left: 50px;
}

.more {
  float: right;
  padding-right: 20px;
}


section {
  padding-top: 10px;
  width: 980px;
  height: 1140px;
  margin: 0 auto;
}
.xisu{
  width: 980px;
  height: 750px;
  background-image: url("../images/xisu.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
}
.more-right{
  padding: 20px;
  float: right;
}
.xisu h4{
  clear: both;
  padding-left: 10px;
}
.word-left{
  width: 660px;
  padding: 20px;
  font-size: 14px;
  text-indent:2em;
  float: left;
}
.img-right{
  width: 260px;
  padding-left: 20px;
  float:right;
}
.shici{
  margin-top:5px;
  width: 488px;
  height: 375px;
  background-image: url("../images/shici-lvyou.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  float: left;
}
.shici ul{
  width: 90px;
  padding-left: 50px;
  float: left;
}
.shici ul li{
  font-size: 18px;
  padding-top: 6px;
  font-weight: bold;
}
.lvyou{
  margin-top:5px;
  width: 488px;
  height: 375px;
  background-image: url("../images/shici-lvyou.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  float: right;
  position:relative;
}
.lvyou-word{
  position:absolute;
  width: 200px;
  right: 15px;
  top:220px;
  font-size: 16px;
  text-indent:2em;
  font-weight: bold;
}
.yanyu{
  width: 980px;
  height: 211px;
  margin: 0 auto;
  background-image: url("../images/3.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
}
.yanyu ul{
  padding-left: 90px;
}
.yanyu ul li{
  float: left;
  width: 430px;
}
footer{
  width: 980px;
  clear:both;
  height: 160px;
  margin: 0 auto;
}
footer p{
  text-align: center;
  padding-top: 60px;
  font-size: 26px;
  font-weight: bold;
}



/* xisu.html */

.xisu-text{
  width: 980px;
  margin:0 auto;
}
.xisu-text ul{
  list-style: none;
  margin: 0 ;
  padding: 0;
}
.xisu-text li{
  width: 450px;
  height: 410px;
  padding: 20px;
  float: left;
  background-image: url("../images/xisu-text.jpg");
}
.xisu-text h3{
  text-align:center;
}
.xisu-text ul li p{
  padding-top: 10px;
  width: 450px;
  height: 130px;
}
.xisu-text li img {
  margin-left: 40px;
}
.xisu-end{
  width: 980px;
  height: 311px;
  background-image: url("../images/3.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  text-indent: 2em;
  margin: 0 auto;
  clear: both;
}
.xisu-end p{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  font-size: 16px;
  font-weight: bold;
}
/* xisu.html */



/* 起源 */
    .qiyuan-text{
      width: 980px;
      margin: 0 auto;
    }
    .qiyuan-top{
      width: 850px;
      height: 170px;
      margin: 0 auto;
    }
    .qiyuan-top p{
      padding: 30px;
      font-size: 22px;
      font-weight:bold;
      text-indent: 2em;
    }
    video{
      margin-left: 10px;
      width: 960px;
      height: 544px;
      border: 3px solid #fff;
      border-radius: 30px;
    }
    .qiyuan-text h3,.qiyuan-text h4,.qiyuan-text p{
      text-indent: 2em;
      padding: 10px;
    }

/* 起源 */
